<!--dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome to the Dashboard</h2>
    <p>Welcome, <%= email %>!</p>
    <p>Welcome, <%= ac_id %>!</p>
    <!-- Other dashboard content goes here -->
    <p>register-complaint? <a href="/form">Register here</a></p>
    <p>your-complaints <a href="/uc"> here</a></p>
</body>
</html>
